* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 20px;
}

p {
  margin: 0;
}

.div-container {
  background-color: powderblue;
  display: flow-root;
}

.div-container div {
  background-color: olive;
}

.span-container {
  background-color: plum;
}

.span-container span {
  background-color: cyan;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
