
.flex-container {
  display: flex;
  /* flex-wrap: wrap; */
  height: 300px;
  justify-content: space-around;
  align-items: center;

  /* justify-content: space-around; */
}

.flex-item {
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  order: 1;
  font-size: 20px;
  padding: 0;
  flex-basis: 200px;
}




.footer {
  height: 40px;
  background-color: blueviolet;
  text-align: center;

  margin-top: auto;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

input, button {
  border: none;
  font-family: inherit;
  font-weight: bold;
  color: white;
}


.header {
  display: flex;
  background-color: burlywood;
  padding: 20px 10px;
}

.logo-link {
  background-color: beige;
  height: 40px;
}

.logo-link img {
  width: 40px;
}

.search {
  margin: 0 20px;
  flex-grow: 1;
}

.search-form {
  display: flex;
  height: 40px;
}

.search-input {
  flex-grow: 1;
}
.search-btn {
  background-color: brown;
  padding: 0 10px;
}


.search-options {
  margin-top: 20px;
  display: flex;
}

.search-option {
  padding: 10px;
  background-color: teal;
  flex-grow: 1;
}

.search-option + .search-option {
  margin-left: 20px;
}


.login-btn {
  background-color: yellowgreen;
  width: 70px;
  height: 40px;
  font-size: 20px;
}
